# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.build/

# Virtual environments
.venv/
venv/
env/

# Editors/IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Project runtime
logs/
config_local.py

# Unit test / coverage (if added later)
htmlcov/
.coverage
.tox/
.pytest_cache/
